.footer {
    width: 100%;
    height: 50px;
    background-color: gray;
    color: white;
    text-align: center;
    padding-top: 20px;

}
.footer_img{
	width:50px;
	height:50px;
}
.text_center{
	text-align: center;
}
.show_detail_box{
	border:1px solid lightgray;
	width:50%;
	padding:20px;
	margin-top:10px;
	margin-bottom:20px;
	border-radius:10px;
}
.show_detail_img{
	height:350px;
	width:180px;
	margin-top: 40px;
	float:right;
}
.body_product_cart{
	font-size: 15	px;
}
.table_product_cart{
	width: 80%;
    margin: 20px auto;
    text-align: left;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
	



}
.heading_product_cart{
	 height: 20px;
	 padding: 10px 10px 0px 10px;

}
tr.heading_row:hover,tr.heading_row:active{
	 background: lightgray;
}

.hearder_img{
	width:150px;
	height:55px; 
	margin-top: 10px; 
	border: 1px solid lightgray;
	border-radius: 5px;
}
.cart_img{
	width:50px;
	height:50px;
}
.box{
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
	background-image: url("black-background.jpg");
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px;
}
.box_control{
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
	background-image: url("black-background.jpg");
	margin: 10px 200px 10px 200px;
	
	padding: 20px;
}
.detail_control{
	width: 190px;
    height: 175px;
    text-align: center;
    background-color: #337ab7;
    border-radius: 5px;
}
.arrival_control{
	height: 300px;
	width: 218px;
	border: 1px solid black; 
	float: left; 
	margin: 5px;
	border-radius:5px;
}
.glyphicon_control{
	border-right: 1px solid gray;
}
.marquee_control{
	 color: #003b4d; 
	 margin-top:80px;
}
.arrival_img_control{
	height:150px;
	margin: 25px;
	}
.place_order_control{
	 height: 50px;
	 padding: 10px 10px 0px 10px;
	 margin-top: 100px;
	   
	}