.footer{
	background-color: #f8f8f8;
	padding-top: 12px;
}
.footer_text{
	text-align: center;
}
.form_control{
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
	padding: 20px;
	margin-top: 180px;

}

.product_box{
    font-size: 18px;
}
.product_table{
	width: 80%;
	margin: 20px auto;
	text-align: left;
	border-top: 1px solid #003b4d;;

}

.product_heading{
	height: 20px;
	padding: 5px;
	border-bottom: 1px solid #003b4d;
}
tr.heading:hover,tr.heading:active{
    background: #ffffff;
}
.link_section{
    text-decoration: none;

}
.glyphicon_box{
	 float: right;
	 margin: 0px 100px 20px 20px; 
}
.img_control{
	 height:50px;
	 margin: 25px;
}
.box{
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
	margin: 20px 80px 10px 80px;
	padding: 20px;

}
.show_product_detail_box{
	border:1px solid lightgray;
	width:50% !important;
	margin:100px 0px 10px 500px !important;
	padding:20px;
	border-radius:10px;
}
.show_img_box{
	height:350px;
	width:180px;
	margin: 40px 0px 0px 10px;
	float:right;
}